h2 Enter a new workout
label(for='title') Title: 
input(ng-model='form.title', name='title')
label(for='type') Type: 
input(ng-model='form.type', name='type')
p
  button(ng-click='submitWorkout()') Submit Workout